<%- include('includes/head.ejs') %>

<div class="jumbotron">
    <div class="container-lg">

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/users">Users</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/sites">Sites</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/campaigns">Campaigns</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/payments">Payments</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/withdraws">Withdraws</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <div class="d-block font-weight-bold mb-3 mt-3" role="button" data-target="#demo" data-toggle="collapse">Settings</div>
            <div class="collapse pt-2 pb-2 border border-left-0 border-right-0 border-bottom-0 border-primary pl-3" id="demo">
                <a href="admin/site-data" class="d-block">Site data (Cats, OS, Browsers)</a>
                <a href="admin/rates" class="d-block">Rates & Limits</a>
            </div>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/keys">Security Keys</a>
        </div>

        <div class="card mb-2 pl-3 pr-3">
            <a class="d-block font-weight-bold mb-3 mt-3" href="admin/notify">Notify</a>
        </div>

        <% if(error) { %>
            <%- include('includes/err.ejs') %>
        <%  } %>
    </div>
</div>

<%- include('includes/end.ejs') %>
