<%- include('includes/head.ejs') %>

<div class="jumbotron">
  <div class="container-md">
    <% if(error) { %> <%- include('includes/err.ejs') %> <% } %>

      <div class="row" style="align-items: flex-end">
        <div class="col">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="uname"
            class="form-control"
            required
          />
        </div>

        <div class="col">
          <label for="sort">Sort</label>
          <select name="sort" id="sort" class="form-control">
            <option value="1">Newest</option>
            <option value="2">Top</option>
            <option value="3">Banned</option>
          </select>
        </div>

        <div class="col">
          <input
            type="submit"
            name="search"
            id="search"
            value="Search"
            onclick="sForm()"
            class="btn btn-primary btn-block"
          />
        </div>
      </div>

    <!-- Users List -->
    <div class="d-block mt-5" id="user-list"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="addBalModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Adjust Balance</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <label for="adAmt" class="font-weight-bold">Add in Adv Balance</label>
          <input type="number" id="adAmt" name="adAmt" step="0.01" value="0" class="form-control" required />
          <button name="submit" class="btn btn-primary btn-block mt-2" onclick="adjustBal('ad')">Add</button>

          <input type="hidden" name="adBalUid" id="adBalUid" required />

          <label for="wdAmt" class="mt-4 font-weight-bold">Withdraw from Pub Balance</label>
          <input type="number" id="wdAmt" name="wdAmt" step="0.01" value="0" class="form-control" required />
          <button name="submit" class="btn btn-primary btn-block mt-2" onclick="adjustBal('pub')">Withdraw</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>
  let page = 1;
  let isloading = false;
  let user = null;
  let sort;

/**
 * ON Input Enter
 * */
$("#username").keyup(function(e) {
    if(e.keyCode === 13) {
        e.preventDefault();
        // Click Submit Btn
        $("#search").click();
    }
    });

    function sForm() {
        user = $("#username").val();
        page = 1;
        getUserList();
    }

    function goPage() {
        user = $("#username").val();
        page = $('#cpage').val();
        getUserList();
    }

    function adjustBal(type) {
      let confirmation = confirm('Make sure balance doesn\'t go in minus, are you sure?');

      if(!confirmation || isloading) return;

      // Get values
      let uid = $('#adBalUid').val();
      let amt;
      if(type == 'ad')
        amt = $('#adAmt').val();
      else
        amt = $('#wdAmt').val();

      isloading = true;
      $.ajax({
        url: '/admin/users/adjust-balance/' + type + '/' + uid,
        type: 'post',
        data: {
          amt: amt
        },
        dataType: 'json',
        success: function (data) {
          isloading = false;
          getUserList();
        },
        error: function (jqXHR, exception) {
          isloading = false;
          var err = jscriptErr(jqXHR.status, exception);
          alert(err);
        }
      })
    }

    function openModal(uid) {
      $('#adBalUid').val(uid);

      $('#addBalModal').modal('show');
    }


  $(document).ready(() => {
    getUserList();
  });

  const getUserList = () => {
    if (isloading) return;

    sort = $("#sort").val();

    isloading = true;
    $("#user-list").html("Fetching...");

    $.ajax({
      url: "/admin/users",
      type: "post",
      data: {
        user: user,
        sort: sort,
        page: page,
      },
      dataType: "json",
      success: function (data) {
        isloading = false;
        userDataView(data.result, data.total);
      },
      error: function (jqXHR, exception) {
        isloading = false;
        var err = jscriptErr(jqXHR.status, exception);
        alert(err);
      },
    });
  };

  function userDataView(data, total) {
    let res;

    //PAGINATION
    var pages = Math.ceil(total / 50);

    res = `
        <div class="row justify-content-between" style="align-items: flex-end">
            <div class="col-md-3 font-weight-bold" style="align-self:flex-start">
                ${total} Total
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <select class="form-control" id="cpage">
    `;

    for (let i = 1; i <= pages; i++) {
      if (i == page)
        res += '<option value="' + i + '" selected>' + i + "</option>";
      else res += '<option value="' + i + '">' + i + "</option>";
    }

    res += `
                </select>
                <button class="btn btn-primary" onclick="goPage()">Go</buttom>
            </div>
        </div>
    `;

    res += `<div class="user-list-container mt-5">`;

    $.each(data, (k, d) => {
        res += `
            <div class="list-group-item d-block mb-4" style="overflow:hidden" id="user-${d._id}">
                <div class="d-block" style="overflow:hidden" role="button" data-toggle="collapse" data-target="#info-${d._id}">
                    <div class="font-weight-bold float-left mr-3">${d.user} <span class="badge badge-info">${d.country}</span><br>
                        <span class="small">${d.name} ${d.surname}</span>
                    </div>
                    <div class="float-left mr-3">
                        <span class="badge badge-secondary">${d.ac_type}</span> <br>
                        <span class="badge badge-secondary">${d.company_name}</span>
                    </div>
                    <div class="float-left mr-3 text-center">
                        <span class="font-weight-bold">Earned</span> <br>
                        <span class="">$${d.pub_earnings}</span>
                    </div>
                    <div class="float-left mr-3">
                        <span class="font-weight-bold">Spent</span> <br>
                        <span class="">$${d.ad_spending}</span>
                    </div>
                    <div class="float-left mr-3">
                        <span class="font-weight-bold">Ref Earnings</span> <br>
                        <span class="">$${d.ref_earnings}</span>
                    </div>
        `;

        let status = '<span class="badge badge-success">Active</span>';
        if(d.status == 'Inactive') {
            status = '<span class="badge badge-danger">Inactive</span>';
        }
        let rank = '<span class="badge badge-secondary">User</span>';
        if(d.rank == 'Mod') {
            rank = '<span class="badge badge-primary">Mod</span>';
        }
        if(d.rank == 'Admin') {
            rank = '<span class="badge badge-success">Admin</span>';
        }
        let cstatus;
        if(d.status == 'Active') {
            cstatus = '<span role="button" class="badge badge-danger" onclick="cstatus(`'+ d._id +'`)">Ban</span>';
        }
        if(d.status == 'Inactive') {
            cstatus = '<span role="button" class="badge badge-success" onclick="cstatus(`'+ d._id +'`)">Unban</span>';
        }

        res += `
                    <div class="float-right ml-3">
                        ${status} <br>
                        ${rank}
                    </div>
                    <div class="float-right ml-3">
                        <span class="font-weight-bold">Ad balance</span><br>$${d.ad_balance}
                    </div>
                    <div class="float-right ml-3">
                        <span class="font-weight-bold">Pub balance</span><br>$${d.pub_balance}
                    </div>
                </div>
                <div class="collapse" id="info-${d._id}">
                    <hr>
                    <div class="block" style="overflow:hidden">
                        <span class="font-weight-bold d-block" style="overflow:hidden">Stats</span>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Ad Clicks</span><br>
                            ${d.ad_clicks}
                        </div>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Ad Pops</span><br>
                            ${d.ad_pops}
                        </div>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Ad Views</span><br>
                            ${d.ad_views}
                        </div>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Pub Clicks</span><br>
                            ${d.pub_clicks}
                        </div>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Pub Pops</span><br>
                            ${d.pub_pops}
                        </div>
                        <div class="float-left mr-2">
                            <span class="font-weight-bold">Pub Views</span><br>
                            ${d.pub_views}
                        </div>
                        <div class="float-right ml-2 mr-2 text-primary">
                            <span role="button" onclick="openModal('${d._id}')">Adjust Ad/Pub Balance</span><br>
                            <a href="/admin/notify?mail=${d.mail}">Notify: </a>${d.mail}<br>
                            <a href="tel:${d.dial_code}${d.mobile}">Call: </a>${d.dial_code} ${d.mobile}<br>
                            ${cstatus}
                        </div>
                    </div>
                </div>
            </div>
        `;
    });

    res += `</div>`;

    $("#user-list").html(res);
  }

  function cstatus(uid) {
    let confirmation = confirm('Are you sure?');

    if(!confirmation || isloading) return;
    isloading = true

    $.ajax({
      method: 'get',
      url: '/admin/users/ban/' + uid,
      dataType: 'json',
      success: function(d) {
        isloading = false;
        getUserList();
      },
      error: function (jqXHR, exception) {
        isloading = false;
        var err = jscriptErr(jqXHR.status, exception);
        alert(err);
      },
    });
  }

  function jscriptErr(status, exception) {
    var msg = "";
    if (status === 0) {
      msg = "Not connect.\n Verify Network.";
    } else if (status == 404) {
      msg = "Requested page not found. [404]";
    } else if (status == 500) {
      msg = "Internal Server Error [500].";
    } else if (exception === "parsererror") {
      msg = "Requested JSON parse failed.";
    } else if (exception === "timeout") {
      msg = "Time out error.";
    } else if (exception === "abort") {
      msg = "Ajax request aborted.";
    } else {
      msg = "Uncaught Error.\n" + jqXHR.responseText;
    }
    return msg;
  }
</script>

<%- include('includes/end.ejs') %>
